@charset "UTF-8";
/*Página Acerca de*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Raleway:ital,wght@0,300;1,300&family=Satisfy&display=swap");
.acercade-contenedor__img {
  border-radius: 50%;
  margin: 3rem;
}

.acercade-contenedor__texto {
  text-align: justify;
  padding: 3rem;
}

.acercade-contenedor {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.copyright--home {
  color: #fff4ad;
}

.copyright--no-home {
  color: white;
}

.copyright--colorBlanco {
  color: white;
}

@media only screen and (max-width: 480px) {
  .acercade-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
@media only screen and (min-width: 481px) and (max-width: 968px) {
  .acercade-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
/*Paleta de colores celeste: #98CBCB, rosa viejo:#E0A098, rosa nuevo: #e48c80, amarillo: #ffed7a , FONDO: #fefeec, gris: #C7BFB3, cremita:#fffff2*/
/*Página Contacto*/
.contacto-main {
  grid-column: 1/2;
  grid-row: 2/3;
  position: relative;
  display: grid;
  grid-template: 10px 1fr 10px/10px 1fr 10px;
}

/*Imagen con transparencia de "Contacto"*/
.imagen__contacto {
  opacity: 50%;
  z-index: -1;
  grid-column: 1/4;
  grid-row: 1/4;
}

/*Botones de mail y whatsapp de "Contactos"*/
.contactos {
  background-color: #E0A098;
  border-top-color: #ffc9c2;
  border-left-color: #ffc9c2;
  border-bottom-color: #cf938c;
  border-right-color: #cf938c;
  border-radius: 15px;
  color: white;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.contactos:hover {
  background-color: #98CBCB;
  border-top-color: #b2e0e0;
  border-left-color: #b2e0e0;
  border-bottom-color: #84adad;
  border-right-color: #84adad;
  text-transform: uppercase;
}

/*Formulario de "Contacto"*/
.formulario {
  background-color: #E0A098;
  border: #ffffff;
  color: #ffffff;
  margin: 5px;
  padding: 2px;
  font-family: "Raleway", sans-serif;
  opacity: 70%;
  border-radius: 5px;
  height: 60px;
  transition: all 2s;
}

.formulario:focus {
  width: 80%;
  height: 300px;
  font-size: 20px;
  border: none;
}

.formulario-input {
  background-color: #E0A098;
  border: #ffffff;
  color: #ffffff;
  margin: 5px;
  opacity: 50%;
  border-radius: 5px;
  height: 20px;
  transition: all 2s;
  padding: 2px;
  font-family: "Raleway", sans-serif;
}

.formulario-input:focus {
  width: 500px;
  height: 30px;
  font-size: 20px;
}

/*seccciones de "Contacto" por sobre la imagen*/
.contacto-contenedor {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.contacto-contenedor-mapa {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: flex-start;
  order: 2;
  margin: 5px;
  background-color: #fffff3;
  text-align: center;
  border: 2px solid #98CBCB;
}

.contacto-formulario {
  order: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: stretch;
}

.contacto-wa-mail {
  order: 3;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: stretch;
}

@media only screen and (max-width: 480px) {
  /*Página Contacto*/
  .imagen__contacto {
    opacity: 100%;
    z-index: 0;
  }

  .contacto-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formulario {
    width: 80%;
    height: 50px;
    opacity: 100%;
  }

  .formulario:focus {
    width: 90%;
    height: 200px;
    font-size: 18px;
  }

  .formulario-input {
    width: 70%;
    opacity: 100%;
  }

  .formulario-input:focus {
    width: 200px;
    height: 30px;
    font-size: 20px;
  }

  .contacto-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: center;
  }

  .contacto-contenedor-mapa iframe {
    width: 100%;
    height: 100%;
  }

  .contacto-contenedor-mapa {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contacto-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacto-wa-mail {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/*Inicio Body*/
.body {
  background-color: #FFFFFF;
  display: grid;
  grid-template: 147px 1fr 60px/1fr;
}

.body-home {
  display: grid;
  grid-template: 147px 1fr 60px/1fr;
  position: relative;
}

/*Página Home*/
.carrousel__inicio {
  grid-column: 1/3;
  grid-row: 1/4;
  z-index: -1;
}

.contenedor-home-fotos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.contenedor-home-fotos__contenido {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.contenedor-home-fotos__img-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contenedor-home-fotos__img {
  border-radius: 50%;
  size: 30%;
}

.contenedor-celular {
  display: none;
}

.texto-home-celular {
  display: none;
}

.copyright--home {
  color: #fff4ad;
}

.copyright--no-home {
  color: white;
}

.copyright--colorBlanco {
  color: white;
}

.contenedor-home-fotos__img-texto {
  padding: 3%;
}

@media only screen and (max-width: 480px) {
  .carrousel__inicio {
    grid-column: 1/3;
    grid-row: 2/3;
    z-index: 0;
  }

  .contenedor-celular {
    display: block;
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url("../src/assets/image/favorita-nena-atardecer.jpg");
    background-repeat: no-repeat;
    background-size: initial;
    background-position-x: -900px;
    background-attachment: fixed;
    margin-top: 10px;
    height: 500px;
    display: flex;
    align-items: center;
  }

  .texto-background-img {
    margin: 10%;
    font-size: x-large;
  }

  .texto-home-celular {
    margin: 3%;
    display: block;
  }

  .contenedor-home-fotos {
    display: none;
  }
}
/*Página Galería*/
.galeria-contenedor {
  grid-column: 1/3;
  grid-row: 2/3;
}

/*Menú de navegación de "Galería"*/
#btn-menu {
  display: none;
}

.label-galeria {
  display: none;
  padding: 10px;
  width: 30px;
  height: 30px;
}

.label-galeria:hover {
  cursor: pointer;
}

.menu-galeria__li {
  flex-grow: 1;
  text-align: center;
}

.menu-galeria__link {
  display: block;
  color: #E0A098;
  list-style-type: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.menu-galeria__ul {
  display: inline;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.nav-galeria {
  grid-column: 1/2;
  grid-row: 1/2;
  padding-left: 80px;
  padding-right: 80px;
}

.carrousel-padre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: stretch;
  align-content: normal;
}

.misfavoritas {
  text-align: center;
}

.dulceespera {
  text-align: center;
}

.reciennacido {
  text-align: center;
}

.bebes {
  text-align: center;
}

.ninios {
  text-align: center;
}

.ninios__img {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.teens {
  text-align: center;
}

.fineart {
  text-align: center;
}

.eventossociales {
  text-align: center;
}

.primeracomunion {
  text-align: center;
}

/*volver de Galería*/
.volver {
  color: white;
  background-color: #E0A098;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 15px;
  padding: 5px;
}

.volver:hover {
  background-color: #98CBCB;
  color: white;
  padding: 3px 6px;
  border-radius: 15px;
}

.menu-galeria__link:hover {
  background-color: #E0A098;
  color: white;
  padding: 3px 6px;
  border-radius: 15px;
}

@media only screen and (max-width: 480px) {
  /*Página Galería*/
  /*Navegación secundaria*/
  .label-galeria {
    display: block;
  }

  .nav-galeria {
    position: absolute;
    z-index: 3;
    background-color: #98CBCB;
    width: 83%;
    margin-left: -70px;
    transition: all 1s;
    display: none;
    align-self: flex-start;
    padding-left: 10px;
    padding-top: 15px;
  }

  .menu-galeria__ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .menu-galeria__li {
    border-bottom: solid 1px #E0A098;
    align-self: flex-start;
  }

  .menu-galeria__link {
    color: white;
  }

  #btn-menu:checked ~ .nav-galeria {
    margin: 0;
    display: block;
  }
}
@media only screen and (min-width: 481px) and (max-width: 968px) {
  /*Página Galería*/
  /*Navegación secundaria*/
  .label-galeria {
    display: block;
  }

  .nav-galeria {
    position: absolute;
    z-index: 3;
    background-color: #98CBCB;
    width: 50%;
    margin-left: -70px;
    transition: all 1s;
    display: none;
    align-self: flex-start;
    padding-left: 10px;
    padding-top: 15px;
  }

  .menu-galeria__ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .menu-galeria__li {
    border-bottom: solid 1px #E0A098;
    align-self: flex-start;
  }

  .menu-galeria__link {
    color: white;
  }

  #btn-menu:checked ~ .nav-galeria {
    margin: 0;
    display: block;
  }
}
/*Página Shop*/
.shop__encabezado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop-main {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.boton-carrito {
  size: 10%;
  margin-right: 20px;
}

.contenedor-shop {
  display: grid;
  grid-template: 1fr 3fr/1fr 3fr 0.5fr;
  margin: 1rem;
}

.contenedor-shop h3 {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-left: 1rem;
  margin-right: 1rem;
}

.contenedor-shop img {
  grid-column: 1/2;
  grid-row: 1/3;
}

.contenedor-shop p {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-left: 1rem;
  margin-right: 1rem;
}

.contenedor-shop .precio {
  grid-column: 3/4;
  grid-row: 1/2;
}

.contenedor-shop button {
  grid-column: 3/4;
  grid-row: 2/3;
  width: 100%;
  height: 2rem;
}

/*Título de "Shop"*/
.sesiones-titulo {
  color: #cf938c;
  font-family: "Raleway", sans-serif;
  text-align: center;
  width: 90%;
}

/*Botones de "Shop"*/
.boton {
  background-color: #E0A098;
  border-top-color: #ffc9c2;
  border-left-color: #ffc9c2;
  border-bottom-color: #cf938c;
  border-right-color: #cf938c;
  border-radius: 15px;
}

.boton:hover {
  background-color: #98CBCB;
  border-top-color: #b2e0e0;
  border-left-color: #b2e0e0;
  border-bottom-color: #84adad;
  border-right-color: #84adad;
}

.boton__letra {
  color: white;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

@media only screen and (max-width: 480px) {
  /*Página Shop*/
  .contenedor-shop {
    display: grid;
    grid-template: 1fr 4fr 4fr 1fr 2fr/1fr;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .contenedor-shop h3 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .contenedor-shop img {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .contenedor-shop p {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
  }

  .contenedor-shop .precio {
    grid-column: 1/2;
    grid-row: 4/5;
    color: #84adad;
  }

  .contenedor-shop button {
    grid-column: 1/2;
    grid-row: 5/6;
    width: 8rem;
    height: 2rem;
  }

  .boton__letra {
    font-size: 12px;
  }

  .shop__encabezado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sesiones-titulo {
    width: 100%;
  }

  .boton-carrito {
    width: 20%;
  }
}
/*Paleta de colores celeste: #98CBCB, rosa viejo:#E0A098, rosa nuevo: #e48c80, amarillo: #ffed7a , FONDO: #fefeec, gris: #C7BFB3, cremita:#fffff2*/
.body-carrito {
  background-color: #E0A098;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.carrito {
  display: flex;
  flex-direction: row;
}

.sesiones-ofrecidas-carrito {
  background-color: #98CBCB;
}

.carrito__img {
  width: 60%;
}

.carrito__container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #E0A098;
  width: 40%;
}

.carrito__encabezado {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #E0A098;
}

.carrito__titulo {
  color: white;
  width: 90%;
}

.carrito__cruz {
  background-color: #E0A098;
  width: 10%;
}

.carrito__cerrar {
  background-color: #E0A098;
  color: #98CBCB;
}

.carrito__contenido {
  display: flex;
  flex-direction: row;
}

.carrito__select {
  width: 20px;
}

.carrito__sesiones {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.products {
  background-color: #98CBCB;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container-js {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.carrito__sesion {
  font-size: 14px;
  text-align: center;
}

.precio {
  color: #98CBCB;
}

.carrito__texto {
  color: white;
}

.carrito__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: scroll;
  height: 700px;
}

.carrito__cupon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #98CBCB;
}

.carrito__total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #98CBCB;
}

@media only screen and (max-width: 480px) {
  .carrito {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #E0A098;
  }

  .carrito__container {
    width: 100%;
  }

  .carrito__img {
    display: none;
  }

  .carrito__cupon {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E0A098;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1020px) {
  .carrito {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #E0A098;
  }

  .carrito__container {
    width: 80%;
  }

  .carrito__img {
    display: none;
  }
}
/*Inicio Footer*/
/*Todos los footers excepto el de inicio*/
.footer {
  background-color: #E0A098;
  grid-column: 1/3;
  grid-row: 3/4;
  display: grid;
  grid-template: 1fr/1fr 1fr 1fr;
  align-items: center;
}

.copyright {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  color: white;
  background-color: transparent;
  grid-column: 2/3;
  grid-row: 1/1;
  text-align: center;
}

.icono {
  margin-left: 20px;
  justify-content: space-around;
  align-items: center;
}

.icono:hover {
  transform: scale(1.5);
}

.footer-iconos {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  grid-column: 1/2;
  grid-row: 1/1;
}

/*Footer de inicio, características especiales*/
.copyright-home {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  color: #fff4ad;
  background-color: transparent;
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
}

.footer-home {
  background-color: #98CBCB;
  /*grid-column: 1/3;
  grid-row: 3/4;*/
  display: grid;
  grid-template: 1fr/1fr 1fr 1fr;
  align-items: center;
  height: 50px;
}

.footer-iconos-home {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  grid-column: 1/2;
  grid-row: 1/2;
}

/*Fin footer*/
@media only screen and (max-width: 480px) {
  .footer-home {
    background-color: #98CBCB;
  }

  .copyright-home {
    color: white;
  }
}
/*Inicio Header*/
a {
  text-decoration: none;
}

.header {
  background-color: #fffff3;
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.header-home {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}

.nav {
  background-color: transparent;
  flex-grow: 1;
  text-align: center;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  background-color: transparent;
}

.nav-home {
  background-color: transparent;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}

#btn-menu-navbar {
  display: none;
}

.label-navbar:hover {
  cursor: pointer;
}

.label-navbar {
  display: none;
  width: 25px;
  height: 25px;
  padding: 10px;
}

.label-navbar-home {
  display: none;
}

h1 {
  font-family: "Satisfy", cursive;
  color: #E0A098;
  font-size: 60px;
  padding: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  background-color: transparent;
  animation-name: marca;
  animation-iteration-count: initial;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes marca {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
.h1-home {
  font-family: "Satisfy", cursive;
  color: #fde757;
  font-size: 60px;
  background-color: transparent;
  padding: 5px;
  /*
      animation-name: marca;
      animation-iteration-count: initial;
      animation-timing-function: ease-in;
      animation-duration: 1s;
  */
}

.header__ph {
  font-family: "Lora", serif;
  color: #cf938c;
  font-weight: lighter;
  font-size: 20px;
  font-variant: small-caps;
  letter-spacing: 3px;
  background-color: transparent;
  padding-left: 110px;
  animation-name: marca;
  animation-iteration-count: initial;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

.header__ph-home {
  font-family: "Lora", serif;
  color: #fde757;
  font-weight: lighter;
  font-size: 20px;
  font-variant: small-caps;
  letter-spacing: 3px;
  text-align: center;
}

.nav-contenedor {
  background-color: transparent;
  align-self: flex-end;
}

.nav-home-contenedor {
  background-color: transparent;
  margin-top: 10px;
}

.nav__link {
  color: #279292;
  list-style-type: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  display: block;
  background-color: transparent;
}

.nav__link:hover {
  background-color: #98CBCB;
  color: white;
  padding: 3px 6px;
  border-radius: 15px;
}

.nav-home {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-home-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  list-style-type: none;
}

.nav-home__link {
  color: #fff4ad;
  list-style-type: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  background-color: transparent;
}

.nav-home__link:hover {
  background-color: #E0A098;
  color: #fff4ad;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: larger;
}

/*Fin header*/
@media only screen and (max-width: 480px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-home {
    margin-top: 30px;
  }

  h1 {
    font-size: 40px;
  }

  .header__ph {
    font-size: 12px;
    padding-left: 0px;
    text-align: center;
  }

  .h1-home {
    font-size: 37px;
    padding-bottom: 0;
  }

  .header__ph-home {
    font-size: 12px;
  }

  /*Navegación Home*/
  .label-navbar-home {
    display: block;
  }

  .nav-home-contenedor {
    margin-top: 0;
    position: absolute;
    background-color: #E0A098;
    width: 50%;
    margin-left: -70px;
    transition: all 0.5s;
    display: none;
    align-self: flex-end;
    padding-top: 20px;
  }

  .nav-home-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-left: 0;
    padding-left: 0;
  }

  .nav-home {
    align-self: center;
    border-bottom: solid 1px #98CBCB;
  }

  .nav-home__link {
    color: white;
    font-size: medium;
  }

  .nav-home__link:hover {
    background-color: #98CBCB;
    color: white;
    font-size: medium;
    padding-left: 3px;
  }

  #btn-menu-navbar:checked ~ .nav-home-contenedor {
    margin-top: 20px;
    z-index: 5;
    display: block;
  }

  /*Navegación del resto de las páginas*/
  #btn-menu-navbar:checked ~ .nav-contenedor {
    margin-top: 20px;
    z-index: 5;
    display: block;
  }

  .label-navbar {
    display: block;
  }

  .nav-contenedor {
    position: absolute;
    background-color: #E0A098;
    width: 50%;
    margin-left: -70px;
    transition: all 0.5s;
    display: none;
    align-self: flex-end;
    padding-top: 20px;
  }

  .nav-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-left: 0;
    padding-left: 0;
  }

  .nav {
    align-self: center;
    border-bottom: solid 1px #98CBCB;
  }

  .nav__link {
    color: white;
  }
}
@media only screen and (min-width: 481px) and (max-width: 968px) {
  .h1-home {
    font-size: 40px;
    padding-bottom: 0;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__ph-home {
    font-size: 12px;
  }

  .header__ph {
    font-size: 12px;
    padding-left: 0px;
    text-align: center;
  }

  /*Navegación Home*/
  .label-navbar-home {
    display: block;
  }

  .nav-home-contenedor {
    margin-top: 0;
    position: absolute;
    background-color: #E0A098;
    width: 50%;
    margin-left: -70px;
    transition: all 0.5s;
    display: none;
    align-self: flex-end;
    padding-top: 20px;
  }

  .nav-home-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-left: 0;
    padding-left: 0;
  }

  .nav-home {
    align-self: center;
    border-bottom: solid 1px #98CBCB;
  }

  .nav-home__link {
    color: white;
  }

  .nav-home__link:hover {
    background-color: #98CBCB;
  }

  #btn-menu-navbar:checked ~ .nav-home-contenedor {
    margin-top: 20px;
    z-index: 5;
    display: block;
  }
}
/*Fuentes*/
/*Paleta de colores celeste: #98CBCB, rosa viejo:#E0A098, rosa nuevo: #e48c80, amarillo: #ffed7a , FONDO: #fefeec, gris: #C7BFB3, cremita:#fffff2*/
/*Títulos y párrafos en general*/
h2 {
  font-family: "Raleway", sans-serif;
  color: #E0A098;
}

h3 {
  font-family: "Raleway", sans-serif;
  color: #98CBCB;
}

p {
  font-family: "Raleway", sans-serif;
  color: #8b2b1e;
}

* {
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
