@import "../../scss/base/variables";

/*Inicio Header*/

a {
    text-decoration: none;
}

.header {
    background-color: $crema;
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.header-home {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    background-color: transparent;
    position: relative;
}

.nav {
    background-color: transparent;
    flex-grow: 1;
    text-align: center;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;


}


.nav-home {
    background-color: transparent;



}

.nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;

}

#btn-menu-navbar {
    display: none;
}

.label-navbar:hover {
    cursor: pointer;


}

.label-navbar {
    display: none;
    width: 25px;
    height: 25px;
    padding: 10px;

}

.label-navbar-home {
    display: none;
}

h1 {
    font-family: 'Satisfy', cursive;
    color: $rosa;
    font-size: $letra-grande;
    padding: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    background-color: transparent;

    animation-name: marca;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
    animation-duration: 2s;


}


@keyframes marca {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0px);
    }

}

.h1-home {
    font-family: 'Satisfy', cursive;
    color: pink;
    font-size: $letra-grande;
    background-color: transparent;
    padding: 5px;


}

.header__ph {
    font-family: 'Lora', serif;
    color: $celeste;
    font-weight: bolder;
    font-size: $letra-chica;
    font-variant: small-caps;
    letter-spacing: 3px;
    background-color: transparent;
    padding-left: 110px;

    animation-name: marca;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
    animation-duration: 1s;





}

.header__ph-home {

    font-family: 'Lora', serif;
    color: $celeste;
    font-weight: bold;
    font-size: $letra-chica;
    font-variant: small-caps;
    letter-spacing: 3px;
    text-align: center;
}

.nav-contenedor {
    background-color: transparent;
    align-self: flex-end;

}

.nav-home-contenedor {
    background-color: transparent;
    margin-top: 10px;
}

.nav__link {
    color: $celeste-letras;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    display: block;


}

.nav__link:hover {
    background-color: $celeste;
    color: white;
    padding: 3px 6px;
    border-radius: 15px;

}

.nav-home {

    margin-left: 10px;
    margin-right: 10px;
}

.nav-home-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    list-style-type: none;
}

.nav-home__link {
    color: white;
    font-size: larger;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;

}

.nav-home__link:hover {
    background-color: $rosa;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: larger;
}


/*Fin header*/

//Responsive Celular
@media only screen and (max-width:480px) {

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .header-home {
        margin-top: 20px;

    }

    h1 {
        font-size: 40px;

    }

    .header__ph {
        font-size: 15px;
        padding-left: 0px;
        text-align: center;

    }

    .h1-home {
        font-size: 45px;
        padding-bottom: 0;
        color: $rosa;
    }

    .header__ph-home {
        font-size: 20px;
        font-weight: bold;
    }

    /*Navegación Home*/

    .label-navbar-home {
        display: block;



    }

    .nav-home-contenedor {
        margin-top: 0;

        position: absolute;
        background-color: $rosa;
        width: 50%;
        margin-left: -70px;
        transition: all 0.5s;
        display: none;
        align-self: flex-end;
        padding-top: 20px;
    }

    .nav-home-ul {
        display: flex;
        flex-direction: column;
        justify-content: center;

        align-self: center;
        margin-left: 0;
        padding-left: 0;



    }

    .nav-home {
        align-self: center;
        border-bottom: solid 1px $celeste;
    }

    .nav-home__link {
        color: white;
        font-size: medium;

    }

    .nav-home__link:hover {
        background-color: $celeste;
        color: white;
        font-size: medium;
        padding-left: 3px;
    }

    #btn-menu-navbar:checked~.nav-home-contenedor {
        margin-top: 20px;

        z-index: 5;
        display: block;
    }

    /*Navegación del resto de las páginas*/
    #btn-menu-navbar:checked~.nav-contenedor {
        margin-top: 20px;
        z-index: 5;
        display: block;

    }

    .label-navbar {
        display: block;
    }

    .nav-contenedor {
        position: absolute;
        background-color: $rosa;
        width: 50%;
        margin-left: -70px;
        transition: all 0.5s;
        display: none;
        align-self: flex-end;
        padding-top: 20px;

    }

    .nav-ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        margin-left: 0;
        padding-left: 0;

    }

    .nav {
        align-self: center;

        border-bottom: solid 1px $celeste;
    }

    .nav__link {
        color: white;
    }

}

//Responsive Tablet
@media only screen and (min-width: 481px) and (max-width:968px) {

    .h1-home {

        padding-bottom: 0;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header__ph-home {
        font-size: 18px;
        font-weight: bold;

    }

    .header__ph {
        font-size: 18px;
        padding-left: 0px;
        text-align: center;
    }

    /*Navegación Home*/

    .label-navbar-home {
        display: block;


    }

    .nav-home-contenedor {
        margin-top: 0;

        position: absolute;
        background-color: $rosa;
        width: 50%;
        margin-left: -70px;
        transition: all 0.5s;
        display: none;
        align-self: flex-end;
        padding-top: 20px;
    }

    .nav-home-ul {

        display: flex;
        flex-direction: column;
        justify-content: center;

        align-self: center;
        margin-left: 0;
        padding-left: 0;

    }

    .nav-home {
        align-self: center;
        border-bottom: solid 1px $celeste;

    }

    .nav-home__link {
        color: white;

    }

    .nav-home__link:hover {
        background-color: $celeste;
    }

    #btn-menu-navbar:checked~.nav-home-contenedor {
        margin-top: 20px;

        z-index: 5;
        display: block;



    }
}