/*Inicio Header*/

a{
    text-decoration: none;
}

.header {
    background-color: #fffff3;
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-home {
    @extend.header;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
}

.nav {
    background-color: transparent;
    flex-grow: 1;
    text-align: center;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;


}


.nav-home {
    background-color: transparent;



}

.nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;

}

#btn-menu-navbar {
    display: none;
}

.label-navbar:hover {
    cursor: pointer;


}
.label-navbar {
    display: none;
    width: 25px;
    height: 25px;
    padding: 10px;

}

.label-navbar-home {
    display: none;
}

h1 {
    font-family: 'Satisfy', cursive;
    color: var(--amarillo-oscuro);
    font-size: 60px;
    padding: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    background-color: transparent;

    animation-name: marca;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
    animation-duration: 2s;


}


@keyframes marca {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0px);
    }

}

.h1-home {
    font-family: 'Satisfy', cursive;
    color: var(--amarillo-oscuro);
    font-size: 60px;
    background-color: transparent;
    padding: 5px;
    /*
    animation-name: marca;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
    animation-duration: 1s;
*/

}

.header__ph {
    font-family: 'Lora', serif;
    color: var(--amarillo-oscuro);
    font-weight: lighter;
    font-size: 20px;
    font-variant: small-caps;
    letter-spacing: 3px;
    background-color: transparent;
    padding-left: 110px;

    animation-name: marca;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
    animation-duration: 1s;





}

.header__ph-home {
    background-color: transparent;
    font-family: 'Lora', serif;
    color: var(--amarillo-oscuro);
    font-weight: lighter;
    font-size: 20px;
    font-variant: small-caps;
    letter-spacing: 3px;
}

.nav-contenedor {
    background-color: transparent;
    align-self: flex-end;

}

.nav-home-contenedor {
    background-color: transparent;
    margin-top: 10px;
}

.nav__link {
    color: var(--celeste);
    list-style-type: none;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    display: block;
    background-color: transparent;

}

.nav__link:hover {
    background-color: var(--celeste);
    color: white;
    padding: 3px 6px;
    border-radius: 15px;

}

.nav-home {

    margin-left: 10px;
    margin-right: 10px;
}

.nav-home-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    list-style-type: none;
}


.nav-home__link {
    color: var(--amarillo-claro);
    list-style-type: none;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;

}

.nav-home__link:hover {
    background-color: var(--rosa);
    color: var(--amarillo-claro);
    padding: 5px 10px;
    border-radius: 15px;
    font-size: larger;
}


/*Fin header*/

//Responsive Celular
@media only screen and (max-width:480px) {

    .header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }

    h1 {
        font-size: 40px;
    }

    .header__ph {
        font-size: 10px;
        padding-left: 0px;
    }

    .h1-home {
        font-size: 37px;
        padding-bottom: 0;
    }

    .header__ph-home {
        font-size: 10px;
    }

    /*Navegación Home*/

    .label-navbar-home {
        display: block;


    }

    .nav-home-contenedor {
        margin-top: 0;

        position: absolute;
        background-color: var(--rosa);
        width: 50%;
        margin-left: -70px;
        transition: all 0.5s;
        display: none;
        align-self: flex-end;
        padding-top: 20px;
    }

    .nav-home-ul {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .nav-home {
        align-self: flex-end;
        border-bottom: solid 1px var(--celeste);

    }

    .nav-home__link {
        color: white;
        font-size: medium;

    }

    .nav-home__link:hover {
        background-color: var(--celeste);
        color: white;
        font-size: medium;
        padding-left: 3px;
    }

    #btn-menu-navbar:checked~.nav-home-contenedor {
        margin-top: 130px;

        z-index: 5;
        display: block;
    }

    /*Navegación del resto de las páginas*/
    #btn-menu-navbar:checked~.nav-contenedor {
        margin-top: 130px;

        z-index: 5;
        display: block;
    }

    .label-navbar {
        display: block;
    }

    .nav-contenedor {
        position: absolute;
        background-color: var(--rosa);
        width: 50%;
        margin-left: -70px;
        transition: all 0.5s;
        display: none;
        align-self: flex-end;
        padding-top: 20px;

    }

    .nav-ul {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .nav {
        align-self: flex-end;
        border-bottom: solid 1px var(--celeste);
    }

    .nav__link {
        color: white;
    }

    /*Página Home*/
    /*
.body-home{
    background-image: url("../valeria_paulina_photography-Lustres/src/assets/image/favorita-nena-atardecer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
*/
}

//Responsive Tablet
@media only screen and (min-width: 481px) and (max-width:968px) {
        
    .h1-home {
        font-size: 40px;
        padding-bottom: 0;
    }

    .header__ph-home {
        font-size: 10px;
    }



    /*Navegación Home*/

    .label-navbar-home {
        display: block;
        align-self: flex-end;
        position: absolute;
        margin-top: 5%;
        margin-right: 5%;
    }

    .nav-home-contenedor {
        margin-top: 0;

        position: absolute;
        background-color: var(--rosa);
        width: 50%;
        margin-left: -70px;
        transition: all 0.5s;
        display: none;
        align-self: flex-end;
        padding-top: 20px;
    }

    .nav-home-ul {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .nav-home {
        align-self: flex-end;
        border-bottom: solid 1px var(--celeste);

    }

    .nav-home__link {
        color: white;

    }

    .nav-home__link:hover {
        background-color: var(--celeste);
    }

    #btn-menu-navbar:checked~.nav-home-contenedor {
        margin-top: 130px;

        z-index: 5;
        display: block;
    }
}