//Carrito
@import "../base/colores";

.body-carrito {
    background-color: $rosa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.carrito {
    display: flex;
    flex-direction: row;

}

.sesiones-ofrecidas-carrito {
    background-color: $celeste;
}

.carrito__img {
    width: 60%;
}

.carrito__container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $rosa;
    width: 40%
}

;

.carrito__encabezado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $rosa;

}

;

.carrito__titulo {
    color: white;
    width: 90%;

}

.carrito__cruz {
    background-color: $rosa;
    width: 10%;
}

;

.carrito__cerrar {
    background-color: $rosa;
    color: $celeste;
}

.carrito__contenido {
    display: flex;
    flex-direction: row;

}

;

.carrito__select {
    width: 20px;
}

.carrito__sesiones {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.products {
    background-color: $celeste;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-js {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.carrito__sesion {
    font-size: 14px;
    text-align: center;
}



.carrito__texto {
    color: white;
}

.carrito__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: auto;
    height: 270px;
    margin-top: 30px;

}


.carrito__cupon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $celeste;
}

;

.carrito__total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $celeste;
}

;

//Mobile celular
@media only screen and (max-width:480px) {
    .carrito {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: $rosa;

    }

    ;

    .carrito__container {
        width: 100%;
    }

    .carrito__img {
        display: none;
    }

    ;

    .carrito__cupon {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $rosa;
    }

}

//Mobile Tablet
@media only screen and (min-width: 481px) and (max-width:1020px) {
    .carrito {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: $rosa;

    }

    ;

    .carrito__container {
        width: 80%;
    }

    .carrito__img {
        display: none;
    }

    ;


}