@import "../../scss/base/mixins";
@import "../base/colores";

/*Página Contacto*/

.contacto-main {
    grid-column: 1/2;
    grid-row: 2/3;
    position: relative;
    display: grid;
    grid-template: 10px 1fr 10px /10px 1fr 10px;
    
}

/*Imagen con transparencia de "Contacto"*/
.imagen__contacto {
    opacity: 50%;
    z-index: -1;
    grid-column: 1/4;
    grid-row: 1/4;
}


/*Botones de mail y whatsapp de "Contactos"*/
.contactos {
    background-color: $rosa;
    border-top-color: $rosa-claro;
    border-left-color: $rosa-claro;
    border-bottom-color: $rosa-oscuro;
    border-right-color: $rosa-oscuro;
    border-radius: 15px;
    color: white;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.contactos:hover {
    background-color: $celeste;
    border-top-color: $celeste-claro;
    border-left-color: $celeste-claro;
    border-bottom-color: $celeste-oscuro;
    border-right-color: $celeste-oscuro;
    text-transform: uppercase;

}

/*Formulario de "Contacto"*/
.formulario {
    background-color: $rosa;
    border: #ffffff;
    color: #ffffff;
    margin: 5px;
padding: 2px;
font-family: 'Raleway', sans-serif;
    opacity: 70%;
    border-radius: 5px;
    height: 60px;

    transition: all 2s;


}

.formulario:focus {
    width: 80%;
    height: 300px;

    font-size: 20px;
    border: none;
    
}

.formulario-input {
    background-color: $rosa;
    border: #ffffff;
    color: #ffffff;
    margin: 5px;
    opacity: 50%;
    border-radius: 5px;
    height: 20px;
    transition: all 2s;
    padding: 2px;
    font-family: 'Raleway', sans-serif;
}

.formulario-input:focus {
    width: 500px;
    height: 30px;

    font-size: 20px;
}


/*seccciones de "Contacto" por sobre la imagen*/
.contacto-contenedor {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;


}

.contacto-contenedor-mapa {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: flex-start;
    order: 2;
    margin: 5px;
    background-color: #fffff3;
    text-align: center;
    border: 2px solid $celeste;

}


.contacto-formulario {
    order: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: stretch;
}

.contacto-wa-mail {
    order: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: stretch;

}

//Responsive celular

@media only screen and (max-width: 1090px) {
    /*Página Contacto*/

    .imagen__contacto {
        opacity: 100%;
        z-index: 0;

    }

    .contacto-main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formulario {
        width: 80%;
        height: 50px;
        opacity: 100%;
        
    }

    .formulario:focus {
        width: 90%;
        height: 200px;

        font-size: 18px;
    }

    .formulario-input {
        width: 70%;
        opacity: 100%;
        
    }

    .formulario-input:focus {
        width: 200px;
        height: 30px;

        font-size: 20px;
    }

    .contacto-contenedor {
        @include flex-column-align-center;
        justify-content: space-around;
        align-content: center;

    }

    .contacto-contenedor-mapa iframe {
        width: 100%;
        height: 100%;
    }

    .contacto-contenedor-mapa {
        align-self: center;
        @include flex-column-align-center;
        text-align: center;
    }

    .contacto-formulario {
        @include flex-column-align-center;
    }

    .contacto-wa-mail {
        @include flex-column-align-center;
    }


}