/*Inicio Body*/
@import "../../scss/base/mapas";



.body {
    background-color: #FFFFFF;
    display: grid;
    grid-template: 147px 1fr 60px/1fr;

}

.body-home {
    display: grid;
    grid-template: 147px 1fr 1fr 50px/1fr;

}

/*Página Home*/

.carrousel__inicio {
    grid-column: 1/3;
    grid-row: 1/4;
    z-index: -1;

}

.contenedor-home-fotos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.contenedor-home-fotos__contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

}

.contenedor-home-fotos__img-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedor-home-fotos__img {
    border-radius: 50%;
    size: 30%;
}


.contenedor-celular {
    display: none;
}

.texto-home-celular {
    display: none;
}

;

@each $key,
$value in $color-letra {
    .copyright--#{$key} {
        color: $value;
    }

}

;

.copyright--home {
    color: map-get($color-letra, color);
}

.contenedor-home-fotos__img-texto {
    padding: 3%;
}

//Responsive celular
@media only screen and (max-width:480px) {

    .carrousel__inicio {
        grid-column: 1/3;
        grid-row: 2/3;
        z-index: 0;

    }

    .contenedor-celular {
        display: block;
        grid-column: 1/2;
        grid-row: 3/4;
        background-image: url("../src/assets/image/favorita-nena-atardecer.jpg");
        background-repeat: no-repeat;
        background-size: initial;
        background-position-x: -900px;
        background-attachment: fixed;
        margin-top: 10px;
        height: 500px;
        display: flex;
        align-items: center;

    }

    .texto-background-img {
        margin: 10%;
        font-size: x-large;
        color: $amarillo-oscuro;


    }

    .texto-home-celular {
        margin: 3%;
        display: block;
        text-align: center;
    }

    .contenedor-home-fotos {
        display: none;
    }

}