/*Paleta de colores celeste: #98CBCB, rosa viejo:#E0A098, rosa nuevo: #e48c80, amarillo: #ffed7a , FONDO: #fefeec, gris: #C7BFB3, cremita:#fffff2*/

$rosa: #E0A098;
$rosa-claro: #ffc9c2;
$rosa-oscuro: #cf938c;
$rosa-letras: #bd5a4c;
$celeste: #98CBCB;
$celeste-claro: #b2e0e0;
$celeste-oscuro: #84adad;
$amarillo-claro: #fff4ad;
$amarillo-oscuro: #ffed7a;
$gris: #C7BFB3;
$crema: #fffff3;