/*Paleta de colores celeste: #98CBCB, rosa viejo:#E0A098, rosa nuevo: #e48c80, amarillo: #ffed7a , FONDO: #fefeec, gris: #C7BFB3, cremita:#fffff2*/

:root {
    --celeste: #98CBCB;
    --rosa: #e48c80;
    --amarillo-oscuro: #ffed7a;
    --amarillo-claro: #fff4ad;
}
