/*Títulos y párrafos en general*/
h2 {
    font-family: 'Raleway', sans-serif;
    color: $rosa;


}

h3 {
    font-family: 'Raleway', sans-serif;
    color: $celeste;
}

p {
    font-family: 'Raleway', sans-serif;
    color: $rosa-letras;


}

