/*Títulos y párrafos en general*/
h2 {
    font-family: 'Raleway', sans-serif;
    color: var(--rosa);


}

h3 {
    font-family: 'Raleway', sans-serif;
    color: var(--celeste);
}

p {
    font-family: 'Raleway', sans-serif;
    color: var(--rosa);


}

