/*Títulos y párrafos en general*/
h2 {
    font-family: 'Raleway', sans-serif;
    color: $rosa-oscuro;


}

h3 {
    font-family: 'Raleway', sans-serif;
    color: $celeste-oscuro;
}

p {
    font-family: 'Raleway', sans-serif;
    color: $rosa-letras;


}